<h1>My awesome app</h1>
<p>thi is our great app</p>

<p>signed in? <%= user_signed_in? %></p>

<% if user_signed_in? %>
  <p>hello <%= current_user.email %></p>
<% else %>
  <p>hello stranger</p>
<% end %>
